.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.login-form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: calc(100% - 20px); /* Adjust width */
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
  display: block;
  margin: 10 auto; /* Center the input fields horizontally */
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Sidebar.css */

.sidebar-list {
  width: 250px; /* Adjust the width of the sidebar list */
}

.sidebar-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 0;
}

.sidebar-item:hover {
  background-color: #f0f0f0;
}

.sidebar-item:hover .MuiListItemText-primary {
  color: #000;
}

/* About Us Styles */
.about-us {
  padding: 20px;
  color: #333;
  text-align: left;
  max-width: 960px;
  margin: 20px auto;
}

.about-us h2, .about-us h3 {
  color: #000000;
}

.about-us h1 {
  color: #000000;
  text-align: center;
  font-weight: 200;
}

.about-us p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-us a {
  color: #61dafb;
  text-decoration: none;
}

.about-us a:hover {
  text-decoration: underline;
}

.about-us ul {
  list-style-type: none;
  padding: 0;
}

.about-us li {
  margin-bottom: 10px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000000;
  margin: 1em 0;
  padding: 0;
}

.trends-container {
  max-width: 1200px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add padding around the container */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  /* Add more styles as needed */
}

